<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Mr.Miyagi Movie Recommender</title>
  </head>
  <body>
<!-- The body is what is rendered on screen -->
<h1>Hello, welcome to Miyagi's movie recommender!</h1>
<form action="/recommendations">
<p>Please rate the following movies on a scale from 0.0 to 5.0:</p>
Movie 1:
<input type="text" name="movie1" placeholder="0.0 - 5.0"><br>
Movie 2:
<input type="text" name="movie2" placeholder="0.0 - 5.0"><br>
Movie 3:
<input type="text" name="movie3" placeholder="0.0 - 5.0"><br>
Movie 4:
<input type="text" name="movie4" placeholder="0.0 - 5.0"><br>
Movie 5:
<input type="text" name="movie5" placeholder="0.0 - 5.0"><br>

<div class="submit-button-container">
    <input type="submit" class="button">   <!-- Creates a GET request by default -->
    </div>

</form>
<br> <br>
<p class="red">Only <span id="green-text">THIS</span> paragraph should be red</p>
<br> <br>
  <a href='https://www.spiced-academy.com'> Go to Spiced!</a>
  <br> <br>
  <a href='/recommendations'> Show me my recommendations!</a>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script type="text/javascript" src="static/js/script.js">
</script>

  </body>
</html>
